body{
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}
img{
    height: 7vw;
    position: absolute;
    user-select: none;
}
.clear{
    font-size: 24pt;
    margin: 1px;
    position: absolute;
    z-index: 999;
}
.counter{
    position: absolute;
    z-index: 999;
    top: 50px;
}